*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  user-select: none;
}

.modebar {
  left: 0;
}

.modebar-btn {
  transform: scale(1.5); /* Makes buttons 1.5x bigger */
}

.modebar-btn svg {
  width: 30px !important;
  height: 30px !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.left-sub-container,
.right-sub-container {
  width: 100%;
  height: 100vh;
  border: 2px solid grey;
}

.left-sub-container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 0 10px;
}

.readme h1 {
  font-size: 24px;
}

.readme ul {
  margin-left: 20px;
  font-style: italic;
}

.file-upload-container {
  margin: 20px 0;
  width: fit-content;
  position: relative;
}

.file-upload-label {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #ffffff;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  letter-spacing: 3px;
  font-weight: bold;
}

.file-upload-label:hover {
  background-color: #e7f0ff;
  border-color: #0056b3;
}

.file-upload-label:active {
  background-color: #d6e4ff;
}

.upload-icon {
  margin-right: 8px;
  font-size: 24px;
}

.file-input {
  display: none;
}

.settings {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.settings h1 {
  text-align: left;
  font-size: 20px;
  grid-area: 1 / 1 / 2 / 3;
}

.mapTypeRadio-container label,
.gridSizeDropdown-container label,
.contourMapColorDropdown-container label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.mapTypeRadio-container input {
  vertical-align: middle;
  margin-left: 10px;
}

.mapTypeRadio-container div {
  margin-bottom: 10px;
}

.gridSizeDropdown-container,
.contourMapColorDropdown-container {
  margin: 20px 0;
}

#gridSizeDropdown,
#contourMapColorDropdown {
  vertical-align: middle;
  margin-left: 10px;
  width: 120px;
}

.right-sub-container {
  display: grid;
  place-items: center;
}

#map {
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.spinner {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightblue;
  width: 240px;
  height: 240px;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
